table, td{
    border: 6px solid black;
    text-align: center;
    border-collapse: collapse;
    
}
div{
    transform: rotate(-90.0deg);
    text-align: center;
}
.one{
    height: 70px;
    width: 20px;
}
.two td{
    width: 80px;
}

